{% extends "lab.html" %}
{% block body %}

  <!-- JS-Cumulus -->
  <script type="text/javascript" src="/js/JS-Cumulus/js-cumulus.js"></script>
  <script type="text/javascript">
    var theTagCloud;
    var tags = [
      new Tag("Journal Club", 100, "http://openjournalclub.thegrandlocus.com/"),
      new Tag("The Wiki", 100, "http://wiki.thegrandlocus.com/"),
      new Tag("Our Research", 100, "/research-lines.html"),
      new Tag("Work with Us", 100, "/work-with-us.html"),
      new Tag("The Blog", 100, "http://blog.thegrandlocus.com/"),
      new Tag("The Team", 100, "/team.html"),
      new Tag("Protocols", 100, "/protocols/list.html"),
    ];
    theTagCloud = new TagCloud(tags, 400, 400);
  </script>

  <br/>
  <br/>
  <br/>
  <br/>

  <div id="theTagCloud" style="width:50%; margin:0px auto;"></div>

  <div id="bottom_space"></div>
  <script type="text/javascript">
    var v = [1,2,3].map(function() {return Math.random()-.5});
    var vector = new Vector(v[0], v[1], v[2]);
    theTagCloud.Distribute(document.getElementById("theTagCloud")).
        Animate(vector.Multiply(4));
  </script>
{% endblock %}
