{% extends "base.html" %}
{% block title %}Lab | The Grand Locus{% endblock %}
{% block head %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen"
	  href="/static/css/gal.css" />

	<!-- JS-Cumulus -->
	<script type="text/javascript" src="/js/JS-Cumulus/js-cumulus.min.js"></script>
	<script type="text/javascript">
		//JSCumulus.noConflict();
		//Tag(2);

		var tagCloud1;

		/* TagCloud 1 */
		var tags1 = [
			new Tag("Journal Club", 100, "http://openjournalclub.thegrandlocus.com/"),
			new Tag("The Wiki", 100, "http://wiki.thegrandlocus.com/"),
			new Tag("Our Research", 100, "/research-lines.html"),
			new Tag("Work with Us", 100, "/work-with-us.html"),
			new Tag("The Blog", 100, "http://blog.thegrandlocus.com/"),
			new Tag("The Team", 100, "/team.html"),
			new Tag("Protocols", 100, "/protocols/list.html"),
		];
		tagCloud1 = new TagCloud(tags1, 400, 400);
	</script>

	<style>
		.tagCloud {
			background: white
		}
		.tagCloud .tagClass img {
			border: 0 none;
		}
                .tagCloud ul, .tagCloud li
                {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                }
		.tagCloud .tagClass a {
			padding: 3px;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
		}
		.tagCloud .tagClass a:hover {
			border: solid 1px #f00;
			text-decoration: none;
		}
	</style> 
    <script>$(document).ready(white_dots)</script>
{% endblock %}
{% block slogan %}Genome Architecture Lab{% endblock %}
{% block social_networks %}{% endblock %}
{% block section %}
        <div id="section" title="#thelab"></div>
{% endblock %}
