{% extends "base.html" %}
{% block body %}
<h1>The team</h1>
  <table class="colleagues">
  <tr>
  <td><div class="motto">
    <h3><strong>Guillaume Filion</strong>, team leader</h3>
    <p>The greatest thing about being a biologist today is that
    we can finally address one of the most fundamental questions
    about life: what is biological meaning? If we understand how
    information is encoded in DNA, we are far from understanding
    the meaning of that information. Our team works on regulatory
    sequences, their evolution and their activity in different
    contexts. In other terms, we want to understand how non coding
    DNA is decoded.
    </p>
  </div></td>
  <td class="picture"><img src="/static/images/Guillaume_cropped.jpg"></td>
  </tr>

  <tr>
  <td><div class="motto">
    <h3><strong>Heng-Chang Chen</strong>, technician</h3>
    <p>Epigenetics, including CG methylation and histone
    modifications is one of the critical
    mechanisms involved in chromatin structure regulation and shaping.
    Furthermore, an accumulating body of evidence indicates that
    chromatin is able to shape genome sequence during evolution
    through DNA repair mechanisms. I am interested in understanding
    the connection between CG methylation and DNA repair mechanisms as
    well as their impacts on different chromatin environments through the
    <a href="/research-lines.html">TRiP</a> technology.</p>

    <p>For more information about me, check my
    <a href="http://www.wix.com/chenhcinaki/dzdm#!home">personal web
    site</a>.</p>
  </div></td>
  <td class="picture"><img src="/static/images/HengChang_cropped.jpg"></td>
  </tr>

  <tr>
  <td><div class="motto">
    <h3><strong>Olivera Vujatovic</strong>, post-doc</h3>
    <p>It is very challenging working on recently available genome-wide
    data about chromatin proteins distribution and genome sequences
    in different species, including non-coding elements. They are
    giving great opportunities to understand better interplay between
    DNA and proteins that bind them, how they regulate transcription
    and an insight into evolutionary paths that shaped them. With the
    help of statistics one can process this big amount of the data
    and observe general concepts that might explain questions about
    genome functioning.</p>
  </div></td>
  <td class="picture"><img src="/static/images/Olivera_cropped.jpg"></td>
  </tr>

  <tr>
  <td><div class="motto">
    <h3><strong>Catarina De Oliveira</strong>, PhD student</h3>
    <p>Transcription regulation requires coordination of transcription
    machinery and transcription factors at promoter sites. Recently,
    some evidence suggested that compartmentalization is also necessary
    for genome regulation, but how chromatin context and structure
    influences this is still unclear.
    I am particularly interested in hormone-responsive elements and
    how their spatial distribution affects activation of this elements
    and consequently the transcription of downstream genes.</p>
  </div></td>
  <td class="picture"><img src="/static/images/Catarina_cropped.jpg"></td>
  </tr>

  <tr>
  <td><div class="motto">
    <h3><strong>Marc Corrales</strong>, PhD student</h3>
    <p>With the advent of genome-wide, high-troughput technologies, we can
    for the first time look at genome architecture and gene regulation
    without losing the forest for the trees.
    My research interest is trying to understand how the text
    works in context, <i>i.e</i>  how the 98% non protein-coding DNA in our
    cells is able to regulate the 2% protein-coding DNA to produce the most
    dynamic and complex system we know so far. Currently I am involved in
    studing the role of Black chromatin in silencing gene expression
    with the TRiP technology developed in our laboratory.</p>
  </div></td>
  <td class="picture"><img src="/static/images/Marc_cropped.jpg"></td>
  </tr>

  <tr>
  <td><div class="motto">
    <h3><strong>Arantxa Rosado</strong>, technician</h3>
    <p>Coming soon...</p>
  </div></td>
  <td class="picture"><img src="/static/images/Arantxa_cropped.jpg"></td>
  </tr>

</table>

<h2>Alumni</h2>

<table id="alumni" class="colleagues">
  <tr>
  <td><div class="motto">
    <h3><strong>Ricky Lim</strong>, masters student</h3>
    <p>“The twentieth century was the century of physics and the
    twenty-first century will be the century of biology and technology”.
    Whether or not you believe in it. Thinking about this inspired me:
    I would challenge myself to integrate my biological perspectives with
    computational approaches.</p>
  </div></td>
  <td class="picture"><img src="/static/images/Ricky_cropped.jpg"></td>
  </tr>
</table>



{% endblock %}
{% block section %}<div id="section" title="#people"></div>{% endblock %}
