{% extends "lab.html" %}
{% block body %}
<br/>
<br/>
<p style="text-align:center">
  <span style="font-size:48pt">&#8226;</span><br/>
  <span style="font-size:24pt">The Team<br/></span>
  <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
</p>

<br/>
<br/>


  <div id="Guillaume">
  <table class="colleague">
  <tr>
    <td><img src="/static/img/Guillaume_cropped.jpg"></td>
    <td class="person">
    <h3>Guillaume Filion, team leader</h3>
    <p>The greatest thing about being a biologist today is that
    we can finally address one of the most fundamental questions
    about life: what is biological meaning? If we understand how
    information is encoded in DNA, we are far from understanding
    the meaning of that information. Our team works on regulatory
    sequences, their evolution and their activity in different
    contexts. In other terms, we want to understand how non coding
    DNA is decoded.
    </p>
    </td>
  </tr>
  <table>
  </div>

  <div id="Heng-Chang">
  <table class="colleague">
  <tr>
    <td><img src="/static/img/HengChang_cropped.jpg"></td>
    <td class="person">
    <h3>Heng-Chang Chen, technician</h3>
    <p>Epigenetics, including CG methylation and histone
    modifications is one of the critical
    mechanisms involved in chromatin structure regulation and shaping.
    Furthermore, an accumulating body of evidence indicates that
    chromatin is able to shape genome sequence during evolution
    through DNA repair mechanisms. I am interested in understanding
    the connection between CG methylation and DNA repair mechanisms as
    well as their impacts on different chromatin environments through the
    <a href="/research-lines.html">TRiP</a> technology.</p>

    <p>For more information about me, check my
    <a href="http://www.wix.com/chenhcinaki/dzdm#!home">personal web
    site</a>.</p>
    </td>
  </tr>
  <table>
  </div>

  <div id="Olivera">
  <table class="colleague">
  <tr>
    <td><img src="/static/img/Olivera_cropped.jpg"></td>
    <td class="person">
    <h3>Olivera Vujatovic, post-doc</h3>
It is very challenging working on recently available genome-wide data about
chromatin proteins distribution and genome sequences in different species,
including non-coding elements. They are giving great opportunities to
understand better interplay between DNA and proteins that bind them, how
they regulate transcription and an insight into evolutionary paths that shaped
them. With the help of statistics one can process this big amount of the data
and observe general concepts that might explain questions about genome
functioning.
    </td>
  </tr>
  <table>
  </div>

  <div id="bottom_space"></div>
{% endblock %}
{% block section %}
        <div id="section" title="#theteam"></div>
{% endblock %}
