{% extends "lab.html" %}
{% block title %}Positions available at the Filion lab | The Grand Locus{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" media="screen"
    href="/thegrandlocus_theme/static/css/gal.css" />

  <script>$(document).ready(format_theme_style)</script>
    <meta name="description" content="PhD position available at the Filion lab - bioinformatics & molecular biology laboratory at the CRG in Barcelona" />
{% endblock %}
{% block body %}
  <br/>
  <br/>
<p style="text-align:center">
  <span style="font-size:48pt">&#8226;</span><br/>
  <span style="font-size:24pt">Work with us<br/></span>
  <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
</p>
  <br/>
  <br/>

  <h2>Position available</h2>
  We have a PhD position. If you are interested to work with us, please
  contact <script>print_mail('Guillaume Filion')</script>.
  <div id="bottom_space"></div>
{% endblock %}
{% block section %}
       <div id="section" title="#workwithus"></div>
{% endblock %}
