{% extends "base.html" %}

{% block description %}
    <meta name="description"
        content="PhD position available at the Filion lab - bioinformatics & molecular biology laboratory at the CRG in Barcelona" />
{% endblock %}

{% block title %}Positions available at the Filion lab | The Grand Locus{% endblock %}

{% block body %}
<h1>Work with us</h1>

<p>
At the moment, the lab has reached a reasonable size, but
we are always on the lookout to work with talented people, especially if
they have a good background in bio-informatics, physics or mathematics.
So, if you would like to work with us, don't be shy, send me
<script>print_mail('a mail')</script>, I always respond to spontaneous
applications.
</p>

<h3>Why work with us?</h3>
<p>Because we are situated on the beach, in Barcelona.</p>

<h3>Sure, but, really... why?</h3>
<p>
Because we like to share. We like to share our knowledge, we like
to share our enthusiasm about research, and we like to share our
approach to biology. We are not better than the others, and we are not
so special really... it's just that we combine molecular biology,
computers and statistics.
</p>

<h3>The lab</h3>
<p>We are a newly created team at the CRG in Barcelona. "New" means we are small. "New" means we are dynamic. You can expect full training and support from the team leader. The CRG is a great place to work, with all the technical facilities, and more importantly the top scientists of Europe in a diverse range of fields. Check out the <a href="http://pasteur.crg.es/portal/page/portal/Internet/02_Research/01_Programmes">website of the CRG</a> for an overview of the research programmes.</p>
{% endblock %}
