.out_part {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ECF8FE;
}

.optimized {
  font-weight: bold;
  background: #ECF8FE;
}

table.colleagues td {
  border: 0px solid transparent;
  vertical-align: top;
  padding-top: 17px;
  padding-bottom: 17px;
}

div.motto {
  float: left;
  padding: 11px;
  border: 1px solid #EDEDED;
}

td.picture {
  float: right;
}

/* List formatting */
ul#archive {
  marign-left: 0em;
  padding-left: 0em;
  text-align: center;
}

#archive li {
  margin-top: 5px;
  margin-bottom: 15px;
}

.archive_link  {
  font-size: x-large;
}

.tags {
  color: #777;
}

#plusone {
  float: left;
  width: 75px;
}

#like {
  float: left;
  width: 75px;
}

#tweet {
  float: left;
  width: 93px;
}

#postbody {
  font-size: 110%;
}

#postbody p {
  text-indent: 1.5em;
  margin-bottom: 5px;
}

/* Post edit */

#edit textarea, input {
  width: 100%;
}

#message {
  height: 400px;
}
