{% extends "lab.html" %}
{% block body %}
<br/>
<br/>
<div class="hrecipe">
<h2 class="fn">BPYE medium</h2>

<p class="summary">BPYE is used for culture of <i>Drosophila</i>
Kc167 cells.</p>

<h3>Material (for <span class="yield">5 L medium</span>):</h3>
<ul>
  <li class="ingredient">
    <span class="value">196.8</span>
    <span class="type">g</span> Shields and Sang M3 powder
    (<span class="company">Sigma</span>
    <span class="product_reference">S8398-5L</span>)
  </li>

  <li class="ingredient">
    <span class="value">2.5</span>
    <span class="type">g</span>
    potassium bicarbonate KHCO<sub>3</sub>
    (<span class="company">Sigma</span>
    <span class="product_reference">237205-100G</span>)
  </li>

  <li class="ingredient">
    <span class="value">5</span>
    <span class="type">g</span>
    select yeast extract
    (<span class="company">Sigma</span>
    <span class="product_reference">Y1000-500G</span>)
  </li>

  <li class="ingredient">
    <span class="value">12.5</span>
    <span class="type">g</span>
    bactopeptone (<span class="company">BD Biosciences</span>
    <span class="product_reference">211677</span>)
  </li>

  <li class="ingredient">
    Steritop and Stericup 500 mL system
    (<span class="company">Millipore</span>,
    <span class="product_reference">SCGP T05 RE</span> and
    <span class="product_reference">SC00 B05 RE</span>)
  </li>
  <li>Heat-inactivated Fetal Bovine Serum (FBS)</li>
</ul>

<h3 class="instructions">Procedure:</h3>

<ol>
  <li>Add 196.8 g (exactly one bottle) Shields and Sang M3 powder in &lt; 5 L Milli-Q water.</li>
  <li>Add potassium bicarbonate, select yeast extract, and bactopeptone.</li> 
  <li>Shake well, and adjust volume to 5 L.</li>
  <li>Mount the Steritop and Stericup system under flow hood to reduce the risk of contamination.</li>
  <li>Void-filter the medium through the Steritop and Stericup system and store the medium at 4&deg;C.</li>
  <li><strong>Before use</strong>, add 50 mL heat-inactivated FBS to 500 mL BPYE meduim.<br/>
</ol>

<div class="out_part">
<h4>FBS Heat-inactivation:</h4>
<ol>
  <li>Prepare a water bath at 56&deg;C.</li>
  <li>Completely thaw a bottle of FBS to room temperature.</li>
  <li>Incubate FBS in a water bath at 56&deg;C for 30 minutes.</li>
  <li>Aliquote heat-inactivated FBS in 50 mL Falcon tubes and store at -20&deg;C.</li>
  <li>Use one 50 mL tube of heat-inactivated FBS per 500 mL BPYE medium.</li>
  </ol>
  <br/>
</div>

<br/>
- version 0.5 -
</div><!-- end hRecipe -->
{% endblock %}
{% block section %}<div id="section" title="#protocols"></div>{% endblock %}
