{% extends "lab.html" %}
{% block body %}
<br/>
<br/>
<h2><i>E. coli</i> heat-shock competent cells preparation</h2>

<p>Used for <a href="Ecoli-heat-shock-transformation.html">heat-shock transformation</a>.</p>

<h3>Material:</h3>
<ul>
<li><i>E. coli </i>strain</li>
<li>LB medium</li>
<li>0.1 M CaCl<sub>2</sub> solution (ice cold)</li>
<li>LB plates with proper antibiotic</li>
<li>0.1 M CaCl<sub>2</sub> solution containing 15% glycerol (ice cold)</li>
</ul>

<h3>Procedure:</h3>
<div class="out_part">
<h4>The day before</h4>
<ol>
<li>Put the 0.1 M CaCl<sub>2</sub> solution and 0.1 M CaCl<sub>2</sub> solution containing 15% glycerol at 4 &deg;C.</li>
<li>Inoculate one single colony of <i>E. coli</i> strain in 5 mL LB medium. Shake at 37&deg;C overnight.</li>
</ol>
<br/>
</div>

<ol>
<li>Put at least thirty 1.5 mL Eppendorf tubes at -80&deg;C.</li>
<li>Inoculate 1 mL overnight culture in 100 mL LB medium within a 500 mL flask.</li>
<li>Subculture at 37&deg;C with shaking till OD<sub>600</sub> reaches ~ 0.25-0.3 (about 2 hours subculture time).</li>
<li>Chill the culture on ice for 15 minutes.</li>
<li>Separate 100 mL chilled bacterial culture into two 50 mL Falcon tubes and centrifuge at 4&deg;C at 4000 rpm for 10 minutes.<br/>
<li>Discard the supernatant and resuspend the pellet with 40 mL ice-cold 0.1 M CaCl<sub>2</sub> solution.</li>
<li>Keep cells on ice again for 30 minutes.<br/>
<li>Centrifuge cells at 4000 rpm at 4&deg;C for 10 minutes.</li>
<li>Discard the supernatant and resuspend pellet with 5 mL ice-cold 0.1 M CaCl<sub>2</sub> solution containing 15% glycerol.</li>
<li>Pipet 50 &mu;L of cell suspension into -80&deg;C frozen eppendorfs and directly transfer them to -80&deg;C freezer.</li>
</ol>

<span id="version">- version 0.5 -</span>
{% endblock %}
{% block section %}<div id="section" title="#protocols"></div>{% endblock %}
