{% extends "lab.html" %}
{% block body %}
<br/>
<br/>
<div class="hrecipe">
<h2 class="fn"><i>E. coli</i> heat-shock transformation</h2>

<h3>Material:</h3>
<ul>
  <li class="ingredient">
    <span class="value">50</span>
    <span class="type">&mu;L</span> competent cells
  </li>
  <li class="ingredient">plasmid DNA</li>
  <li class="ingredient">heating block at 42&deg;C</li>
  <li class="ingredient">LB plates with proper antibiotic</li>
</ul>

<h3 class="instructions">Procedure:</h3>
<ol>
  <li>Turn on the heating block at 42&deg;C.</li>
  <li>Take competent cells from -80&deg;C freezer and thaw them on ice.</li>
  <li>Pipette 10 ng (3-5 &mu;L) of DNA plasmid into competent cells while competent cells are starting to melt.</li>
  <li>Keep cells with transformed DNA plasmids on ice for 5 minutes.</li>
  <li>Heat-shock cells at 42&deg;C for 45 seconds.</li>
  <li>Keep cells on ice again for 2 minutes.</li>
  <li>Spread totally 50 &mu;L cells with transformed DNA plasmids on a LB plate with proper antibiotic.</li>
  <li>Keep LB plates at 37&deg;C and pick colonies after 12-16 hours incubation.</li>
</ol>

<span id="version">- version 0.5 -</span>
</div><!-- end hRecipe -->
{% endblock %}
{% block section %}<div id="section" title="#protocols"></div>{% endblock %}
