{% extends "lab.html" %}
{% block body %}
<br/>
<br/>
<div class="hrecipe">
<h2 class="fn">Kc cells DNA extraction protocol</h2>

<p class="summary">This protocol 
Kc167 cells.</p>

<h3>Material:</h3>
<ul>
<li>Extraction Buffer&#58;<hr/>
&#91;0.8M guanidine thiocyanate, 5 mM CaCl<sub>2</sub>, 20 mM EDTA, 5&#37; Tween 20, 0.5&#37; Triton X-100, 50 mM HEPES, pH 5.3&#93;</li>
<li>Proteinase K</li>
<li>RNase A</li>
<li>Chloroform</li>
<li>Iso-propanol</li>
<li>70&#37; ethanol</li>
</ul>


<h3 class="instructions">Procedure:</h3>

<ol>
<li>1.5 mL Kc cells (per well) are cultured into a 6-well plate and grown till the appropriate density for genomic DNA extraction.</li>
<li>Transfer 1.5mL Kc cells into a 1.5mL eppendorf and centrifuge at 2000 rpm for 3 minutes.<br/>
&#42;Use more cells for extracting genomic DNA if cells are not condensed enough.</li>
<li>Discard the supernatant after centrifugation. Resuspend cell pellet with 500 mL extraction buffer containing 200&#181;g of proteinase K and 10 &#181;g/mL RNase A.Vortex homogeneously and incubate the sample at 55&#x2103;C for 15 minutes.</li>
<li>Add 600&#181;l chloroform, vortex homogeneously for creating an emulsion.</li>
<li>Centrifuge the sample at maximum speed at 4&#x2103;C for 5 minutes.</li>
<li>Transfer the supernatant into a new 1.5mL eppendorf (avoid taking any cell debris around the surface between the supernatant and chloroform) and add 350 mL iso-propanol<sup>&#42;</sup>. Vortex gently and centrifuge the sample at maximum speed at 4&#x2103;C for 5 minutes again.</hr>
<sup>&#42;</sup>After adding iso-propanol, generally you are able to see the while suspension precipitated.</li>
<li>Discard the supernatant and add 70&#37; ethanol into the eppendorf and vortex gently. Centrifuge the sample at maximum speed at 4&#x2103;C for 5 another minutes.</li>
<li>Discard the supernatant. Do not dry DNA pellet more than 1 minute. Dissolve DNA pellet immediately in appropriate volume of distilled water.</li>
</ol>
</div>

<br/>
- version 0.5 -
</div><!-- end hRecipe -->
{% endblock %}
{% block section %}<div id="section" title="#protocols"></div>{% endblock %}
