{% extends "lab.html" %}

{% block body %}
<br/>
<br/>
<div class="hrecipe">
<h2 class="fn">Kc cells DNA extraction protocol</h2>

<p class="summary">This protocol is used to extract the genomic
DNA of Kc167 cells. The weight of one haploid <i>Drosophila</i>
genome is &sim; 0.32 pg so the approximate yield is
<span class="yield">1 &mu;g per million cells</span> (assuming
that half of the cells are in G1 and half of the cells in G2).</p>

<p>Some parts of this protocol have been
<span class="optimized">optimized</span> for speed.

<h3>Material:</h3>
<ul>
<li class="ingredient">Extraction buffer (see below)</li>
<li class="ingredient">Proteinase K
  (<span class="company">New England Biolabs</span>,
  REF: <span class="product_reference">P8102S</span>)</li>
<li class="ingredient">RNase A
  (<span class="company">Sigma-Aldrich</span>,
  REF: <span class="product_reference">R6513</span>)</li>
<li class="ingredient">Chloroform</li>
<li class="ingredient">Isopropanol</li>
<li class="ingredient">70&#37; ethanol</li>
</ul>

<div class="out_part">
<h4>Before you start</h4>
Prepare the extraction buffer with the following composition.
<ul>
  <li class="ingredient">0.8 M guanidine thiocyanate</li>
  <li class="ingredient">5 mM CaCl<sub>2</sub></li>
  <li class="ingredient">20 mM EDTA</li>
  <li class="ingredient">5&#37; Tween 20</li>
  <li class="ingredient">0.5&#37; Triton X-100</li>
  <li class="ingredient">50 mM HEPES pH 5.3</li>
</ul>
  We do not make it fresh and have not seen a decrease of yield
  or DNA quality in a period of about 6 months.
</div>

<h3 class="instructions">Procedure:</h3>

<ol>
  <li>Grow Kc cells in 1.5 mL in a 6-well plate to &sim; 1-2 million cells.</li>
  <li>Transfer 1.5mL Kc cells into a <span class="optimized">1.5 mL Eppendorf</span>.</li>
  <li>Centrifuge at <span class="optimized">2000 rpm for 3 minutes</span>.<br/>
  <li>Resuspend cell pellet with 500 mL extraction buffer,</li>
  <li>Add 200 &mu;g of proteinase K and 10 &mu;g/mL RNase A. Invert the tube 3-5 times. Do not vortex.</li>
  <li>Incubate the sample at 55&deg;C for <span class="optimized">15 minutes</span>.</li>
  <li>Add 600 &mu;L chloroform. Emulsify by shaking. Do not vortex.</li>
  <li>Centrifuge at maximum speed at 4&deg;C for <span class="optimized">5 minutes</span>.</li>
  <li>Transfer the top phase into a new 1.5 mL Eppendorf.</li>
  <li>Add 350 mL iso-propanol. Invert the tube 3-5 times. Do not vortex</li>
  <li>Centrifuge at maximum speed at 4&deg;C for <span class="optimized">5 minutes</span>.</hr>
  <li>Spill the supernatant and add 70&#37; ethanol. Invert the tube 3-5 times. Do not vortex</li>
  <li>Centrifuge at maximum speed at 4&deg;C for <span class="optimized">5 minutes</span>.</li>
  <li>Spill the supernatant. Do not let dry more than 1 minute.</li>
  <li>Dissolve DNA pellet in appropriate volume of distilled water.</li>
</ol>
</div>

<br/>
- version <span calss="version">1.0</span>,
<abbr calss="pudate" title="2012-04-022">April 22 2012</abbr> -
</div><!-- end hRecipe -->
{% endblock %}
{% block section %}<div id="section" title="#protocols"></div>{% endblock %}
