{% extends "lab.html" %}
{% block body %}
<br/>
<br/>
<div class="hrecipe">
<h2 class="fn">Kc cells freezing protocol</h2>

<p class="summary">This protocol is used to freeze <i>Drosophila</i>
Kc167 cells for long term storage.</p>

<h3>Material:</h3>
<ul>
  <li class="ingredient"><a href="/protocols/BPYE-medium.html">BPYE
    medium</a> containing 10&#37; FBS</li>
  <li class="ingredient">DMSO</li>
  <li class="ingredient">Cryotubes</li>
  <li class="ingredient">Ice-filled box</li>
</ul>


<h3 class="instructions">Procedure:</h3>

<ol>
  <li>Grow Kc cells to &sim; 2 million per mL.</li>
  <li>Transfer 10 mL Kc cells into a 15 mL Falcon tube.</li>
  <li>Centrifuge Falcon tubes at 1200 rpm for 5 minutes.</li>
  <li>Meanwhile, prepare cryotubes by adding 100&mu;L DMSO.</li>
  <li>Resuspend the cell pellet in 1 mL BPYE medium containing 10&#37; FBS.</li>
  <li>Transfer cells to cryotubes. Immediately put on ice.</li>
  <li>Leave cryotubes at -80&deg;C for 2 days.</li>
  <li>Transfer cryotubes to liquid nitrogen tank.</li>
</ol>
</div>

<br/>
- version 0.5 -
</div><!-- end hRecipe -->
{% endblock %}
{% block section %}<div id="section" title="#protocols"></div>{% endblock %}
