{% extends "lab.html" %}
{% block body %}
<br/>
<br/>
<p style="text-align:center">
  <span style="font-size:48pt">&#8226;</span><br/>
  <span style="font-size:24pt">Protocols<br/></span>
  <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
</p>

<br/>
<br/>
<h2>Molecular biology</h2>
<ul>
  <li><a href="Ecoli-heat-shock-competent-cells-preparation.html"><i>E.
coli</i> heat-shock competent cells preparation</a></li>
  <li><a href="Ecoli-heat-shock-transformation.html"><i>E.
coli</i> heat-shock transformation protocol</a></li>
</ul>
<h2>Cell culture</h2>
<ul>
  <li><a href="BPYE-medium.html">BPYE medium</a></li>
</ul>
{% endblock %}
{% block section %}<div id="section" title="#protocols"></div>{% endblock %}
