{% extends "base.html" %}

{% block description %}
    <meta name="description"
        content="Positions available at the Filion lab - bioinformatics & molecular biology laboratory at the CRG in Barcelona" />
{% endblock %}

{% block title %}Positions available at the Filion lab | The Grand Locus{% endblock %}

{% block body %}
<div class="text">
<h1>Work with us</h1>

<p>
I do not advertize open positions, but I am always on the lookout
for talent. If you would like to work with us, send me
<script>print_mail('an email')</script>, I always respond to spontaneous
applications. I also invite you to read my tips on
<a href="http://blog.thegrandlocus.com/2014/03/how-to-write-a-cover-letter">how
to write a cover letter</a> before applying.
</p>

<h3>Our values</h3>
Working in a research laboratory is not only about publishing great papers.
It is also about sharing a culture.  Over the years, we have come to value:

<p><strong>Enthusiasm</strong> over drive. We do research because we are
passionate. This means that our projects are important for us, that we
commit to them and that we do not count our working hours.
</p>

<p><strong>Freedom</strong> over structure. This means that we take
initiatives without fear of the consequences. It also means that we take
responsibility for our actions.
</p>

<p><strong>Creativity</strong> over hard work. This means that we do our
best to share, learn and improve continuously. It also means that get things
done.
</p>

<p><strong>Team work</strong> over championship. This means that we
continuously seek synergies with others. It also means that we have
responsibility towards them.
</p>

</div>

{% endblock %}

{% block section %}
       <div id="section" title="#work-with-us"></div>
{% endblock %}
