<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noarchive" />
{% block description %}
<meta name="description" content="The Filion lab - bioinformatics & molecular biology laboratory in Barcelona" />
{% endblock %}

<link rel="stylesheet" href="/static/css/FreshMedia.css" type="text/css" />
<link rel="stylesheet" href="/static/css/gal.css" type="text/css" />

<title>{% block title %}Filion lab | Home{% endblock %}</title>

<script>
function print_mail(text) {
  at = '@';
  me = 'guillaume';
  mydomain = 'thegrandlocus.com';
  document.write(
    '<a href="mailto:' + me + at + mydomain + '">' + text + '</a>'
  );
}
</script>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
     var section = $('#section').attr("title");
     $(section).addClass('current');
     $('#nav li:not(.current)').hover(
          function() { $(this).addClass('current'); },
          function() { $(this).removeClass('current'); }
     );  
  });
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33527468-1']);
  _gaq.push(['_setDomainName', 'thegrandlocus.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    "HTML-CSS": {
      preferredFont: "TeX",
      availableFonts: ["STIX","TeX"],
      linebreaks: { automatic:true },
      EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50)
    },
    tex2jax: {
      inlineMath: [ ["$(", ")$"], ["\\\\(","\\\\)"] ],
      displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
      processEscapes: true,
      ignoreClass: "tex2jax_ignore|dno"
    },
    TeX: {
      noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
      extensions: ["AMSmath.js", "AMSsymbols.js"]
    },
    messageStyle: "none"
  });
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>

{% block head %}{% endblock %}
</head>
<body>

<!-- wrap starts here -->
<div id="wrap-out"><div id="wrap">

	<!--header -->
	<div id="header">			
				
		<h1 id="logo-text"><a href="/" title="">Filion Lab</a></h1>		
		<p id="intro">
		Genome Architecture
		</p>		
		
		<div id="nav">
			<ul>
				<li id="home"><a href="/">Home</a></li>
				<li id="people"><a href="/people">People</a></li>
				<li id="research"><a href="/research-lines">Research</a></li>
				<li id="contact"><a href="/contact">Contact</a></li>		
			</ul>		
		</div>	
				
	<!--header ends-->					
	</div>
	
	<!-- content-wrap starts -->
	<div id="content-wrap">
				
		<div id="main">
    {% block body %}
    {% endblock %}
		<!-- main ends -->	
		</div>
		
		<!-- sidebar starts -->
		<div id="sidebar">
		
			<h3>The laboratory</h3>
			<ul class="sidemenu">				
				<li><a href="/">Home</a></li>
				<li><a href="/work-with-us">Work with us</a></li>
				<li><a href="/protocols/list">Protocols</a></li>
{#
  			<li><a href="/">Downloads</a></li>
				<li><a href="/">Extras</a></li>
				<li><a href="/">Publications</a></li>
#}
			</ul>	
				
			<h3>Some links</h3>
			<ul class="sidemenu">
				<li><a href="http://blog.thegrandlocus.com/">The Grand Locus</a></li>
				<li><a href="http://pasteur.crg.es/portal/page/portal/Internet/">Centre for Gene Regulation (CRG)</a></li>
			</ul>

{#			<h3>Search Box</h3>	
			<form action="#" class="searchform">
				<p>
				<input name="search_query" class="textbox" type="text" />
  				<input name="search" class="button" value="Search" type="submit" />
				</p>			
			</form>	#}
					
		<!-- sidebar ends -->		
		</div>
		
	<!-- content-wrap ends-->	
	</div>
		
	<!-- footer starts here -->	
	<div id="footer-wrap"><div id="footer-content">
	
		<div class="col float-left space-sep">
		
			<h3>The Grand Locus</h3>

        <p>
        <a href="http://blog.thegrandlocus.com">The
        Grand Locus</a> is my blog. The one thing it does not talk 
        about is my research. Still, I like to share it so the latest
        post is on display on the front page of the lab.
        </p>

        <p>
        Below are some of the most popular posts.
        </p>

			<ul class="col-list">				
                <li><a href="http://blog.thegrandlocus.com/2013/03/genetics-and-racism-3">Genetics and racism (3) -
                <span>do human races exist?</span></a>
                </li>
                <li><a href="http://blog.thegrandlocus.com/2012/07/The-geometry-of-style">The geometry of style -
                <span>how to make the best of IMDB reviews?</span></a>
                </li>
                <li><a href="http://blog.thegrandlocus.com/2012/09/Focus-on-multiple-testing">Focus on multiple testing -
                <span>how to avoid the traps of large datasets?</span></a>
                </li>
                <li><a href="http://blog.thegrandlocus.com/2013/03/one-shade-of-authorship-attribution">One shade of authorship attribution -
                <span>How to identify the author of a text?</span></a>
                </li>
			</ul>

		</div>
		
		<div class="col float-left">
		
			<h3>Coming soon...</h3>
			
			<p>
      This website is still under construction. We are working on
      giving better accounts of our results to the public and I
      hope to host a technical blog to post some of our crunchiest
      results ahead of publication.
			</p>

      <p>
      By the way, if you have any suggestion about this or anything
      else, you can address them directly to
      <script type="text/javascript">print_mail('Guillaume Filion')</script>.
			
		</div>		
	
		<div class="col2 float-right">
		
			<h3>About</h3>			
			
			<p>
      The four golden rules of our team are Freedom, Creativiy,
      Team Spirit and Openness, because we believe that they are the
      pillars of Enthusiasm. And research without Enthusiasm is a little
      bit like... well, it's just not nice.
      </p>

      <p>
      If you care more about what we do, you can read more about our
      <a href="/research-lines">research lines.</a>
      </p>

			<p>
      <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
      &copy;</span> copyleft 2013 <strong>Filion Lab</strong><br /> 
			<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
         	</p><br />

			<p>
				<a href="/index.html">Home</a> |
				<a href="/sitemap.xml">Sitemap</a>
{#				<a href="/index.html">RSS Feed</a> |
                <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
		   	    <a href="http://validator.w3.org/check/referer">XHTML</a>
#}
			</p>
			
		</div>		
			
	</div></div>
	<div class="clearer"></div>
	<!-- footer ends here -->

<!-- wrap ends here -->
</div></div>
{% block section %}<div id="section" title="#home"></div>{% endblock %}

</body>
</html>
