<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noarchive" />
{% block description %}
<meta name="description" content="The Filion lab - bioinformatics & molecular biology laboratory in Barcelona" />
{% endblock %}

<link rel="stylesheet" href="/static/css/FreshMedia.css" type="text/css" />
<link rel="stylesheet" href="/static/css/gal.css" type="text/css" />

<title>{% block title %}Home | Filion lab{% endblock %}</title>

<script>
function print_mail(text) {
  at = '@';
  me = 'guillaume';
  mydomain = 'genomearchitecture.com';
  document.write(
    '<a href="mailto:' + me + at + mydomain + '">' + text + '</a>'
  );
}
</script>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
     var section = $('#section').attr("title");
     $(section).addClass('current');
     $('#nav li:not(.current)').hover(
          function() { $(this).addClass('current'); },
          function() { $(this).removeClass('current'); }
     );  
  });
</script>

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33527468-1', 'genomearchitecture.com');
  ga('send', 'pageview');
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    "HTML-CSS": {
      preferredFont: "TeX",
      availableFonts: ["STIX","TeX"],
      linebreaks: { automatic:true },
      EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50)
    },
    tex2jax: {
      inlineMath: [ ["$(", ")$"], ["\\\\(","\\\\)"] ],
      displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
      processEscapes: true,
      ignoreClass: "tex2jax_ignore|dno"
    },
    TeX: {
      noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
      extensions: ["AMSmath.js", "AMSsymbols.js"]
    },
    messageStyle: "none"
  });
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>

{% block head %}{% endblock %}
{% block admin_head %}{% endblock %}
</head>
<body{% block body_tags %}{% endblock %}>

<!-- wrap starts here -->
<div id="wrap-out"><div id="wrap">

	<!--header -->
	<div id="header">			
				
		<h1 id="logo-text"><a href="/" title="">the Filion lab</a></h1>		
		<p id="intro">
		Genome Architecture
		</p>		
		
		<div id="nav">
			<ul>
				<li id="home"><a href="/">Home</a></li>
				<li id="people"><a href="/people">People</a></li>
				<li id="research"><a href="/research-lines">Research</a></li>
				<li id="contact"><a href="/contact">Contact</a></li>		
			</ul>		
		</div>	
				
	<!--header ends-->					
	</div>
	
	<!-- content-wrap starts -->
	<div id="content-wrap">
				
		<div id="main">
    {% block body %}
    {% endblock %}
		<!-- main ends -->	
		</div>
		
		<!-- sidebar starts -->
		<div id="sidebar">
		
			<h3>The laboratory</h3>
			<ul class="sidemenu">				
				<li><a href="/">Home</a></li>
				<li><a href="/work-with-us">Work with us</a></li>
				<li><a href="/protocols/list">Protocols</a></li>
				<li><a href="/starcode">Starcode</a></li>
{#
  			<li><a href="/">Downloads</a></li>
				<li><a href="/">Extras</a></li>
				<li><a href="/">Publications</a></li>
#}
			</ul>	
				
			<h3>External links</h3>
			<ul class="sidemenu">
				<li><a href="http://blog.thegrandlocus.com/">The Grand Locus</a></li>
				<li><a href="http://pasteur.crg.es/portal/page/portal/Internet/">Centre for Genomic Regulation (CRG)</a></li>
			</ul>

{#			<h3>Search Box</h3>	
			<form action="#" class="searchform">
				<p>
				<input name="search_query" class="textbox" type="text" />
  				<input name="search" class="button" value="Search" type="submit" />
				</p>			
			</form>	#}
					
		<!-- sidebar ends -->		
		</div>
		
	<!-- content-wrap ends-->	
	</div>
		
	<!-- footer starts here -->	
{% block footer %}
{% endblock %}
	<!-- footer ends here -->
	<div class="clearer"></div>

<!-- wrap ends here -->
</div></div>
{% block section %}<div id="section" title="#home"></div>{% endblock %}

</body>
</html>
