<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>The Grand Locus</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen"
	  href="/static/css/screen.css" />

    {% block head %}{% endblock %}
  </head>

  <body>

    <a class="silent_link" href="/">
    <div id="top_banner">
      <span id="blog_name">The Grand Locus</span>
      <span id="slogan">/ Genome Architecture Lab</span>
    </div></a>

    <div id="outer">
      <div class="main_column" id="left_column">
        <p>
          <span style="font-size:48pt;">&#8226;</span><br/>
          <a class="static" href="http://blog.thegrandlocus.com"><span style="font-size:24pt;">the Blog</span></a><br/>
          <hr style="border:0px; background-color:white; width:70%; height:1px;"/>
        </p>
        <br/>
        Check out this cool blog about statistics, life science and more...
        <br/>
      </div>

      <div class="main_column" id="right_column">
      </div><!-- end right_column -->

      <div id="bottom_space"></div>

    </div><!-- end outer -->

  </body>

</html>
