{% extends "base.html" %}
{% import "jinjamacros.html" as macros %}

{% block description %}
    {% if generator_class == 'IndexContentGenerator' %}
    <meta name="description"
        content="(by Guillaume Filion)" />
    <link rel="author" href="https://plus.google.com/102441667247494916086" />
    {% else %}
    <meta name="description"
        content="Filion lab | Bioinformatics & Molecular Biology" />
    {% endif %}
{% endblock %}

{% block body %}

  {% for post in posts %}
  <div id="post_summary_div">
  <h2><a class="dark_link" href="{{config.url_prefix}}{{post.path}}">{{post.title|e}}</a></h2>

  <p class="post-info">

  <span itemscope itemtype="http://data-vocabulary.org/Person">
  By <a class="url fn n grey_link"
  href="https://plus.google.com/102441667247494916086?rel=author"><span
  itemprop="name">Guillaume Filion</span></a></span> | Filed under  
  {% for tag in post.tag_pairs %}{{
      macros.filed_under(tag, config.prefix_url)
  }}{% if not loop.last %},
  {% else %}.{% endif %}{% endfor %}
  <br/ >
  <br/ >
  
  </p>
  {{post.summary|safe}}
  <br />

  <div class="postmeta">
  <a class="grey_link" href="{{config.url_prefix}}{{post.path}}">Read more...</a> | <span class="date">{{post.published_tz.strftime(config.date_format)}}</span>
  </div>
  </div><!-- post_summary_div -->

  <br /> 
  <br /> 
  <br /> 
  <br />

  {% endfor %}

  <div>
  <p id="prev_next">
  {% if prev_page %}
    &laquo; <a id="prev" href="{{config.url_prefix}}{{prev_page}}">Newer</a>
  {% endif %}
  {% if prev_page and next_page %} | {% endif %}
  {% if next_page %}
    <a id="next" href="{{config.url_prefix}}{{next_page}}">Older</a> &raquo;
  {% endif %}
  </p>
  </div>

  {% if config.disqus_forum %}
    <script type="text/javascript">
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
  {% endif %}
{% endblock %}

{% block copyright %}
<div style="float:right; clear:both; font-size:small;">Content &copy; 2014 <a rel="author" href="https://plus.google.com/102441667247494916086">Guillaume Filion</a>. All Rights Reserved blah blah.</div>
{% endblock %}

{% block footer %}
	<div id="footer-wrap"><div id="footer-content">
	
		<div class="col float-left space-sep">
		
			<h3>The Grand Locus</h3>

        <p>
        <a href="http://blog.thegrandlocus.com">The
        Grand Locus</a> is the personal blog of Guillaume Filion.
        It is about statistics, biology and the rest.
        </p>

        <p>
        Most popular posts.
        </p>

			<ul class="col-list">				
                <li><a href="http://blog.thegrandlocus.com/2013/06/how-to-stop-sucking-and-be-awesome-instead">How to stop sucking... -
                <span>The secret of success.</span></a>
                </li>
                <li><a href="http://blog.thegrandlocus.com/2013/03/genetics-and-racism-3">Genetics and racism (3) -
                <span>Do human races exist?</span></a>
                </li>
                <li><a href="http://blog.thegrandlocus.com/2012/07/The-geometry-of-style">The geometry of style -
                <span>How to analyze IMDB reviews?</span></a>
                </li>
			</ul>

		</div>
		
		<div class="col float-left">
		
			<h3>The Lab Notes</h3>
			
			<p>
      <a href="/labnotes">The Lab Notes</a> are about what is going
      on in the team. They can be short technical notes, experimental
      tips, conceptual manifestos, mini tutorials <i>etc</i>.
			</p>

      <p>
      The Lab Notes is a great way for the team members to practice
      their scientific writing skills, and a great way to share,
      because after all that’s what we like.
      </p>
			
		</div>		
	
		<div class="col2 float-right">
		
			<h3>About the lab</h3>			
			
			<p>
      Our golden rules are Freedom, Creativiy,
      Teamwork and Openness, because we believe that they are the
      pillars of Enthusiasm. And research without Enthusiasm is
      like... well, it’s just not cool.
      </p>

      <p>
      If you want to know more about what we do, you can read more abouts
      our <a href="/research-lines">research lines.</a>
      </p>

			<p>
      <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
      &copy;</span> copyleft 2014 <strong>Filion Lab</strong><br /> 
			<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
         	</p><br />

			<p>
				<a href="/">Home</a> |
				<a href="/sitemap.xml.gz">Sitemap</a>
{#				<a href="/index.html">RSS Feed</a> |
                <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
		   	    <a href="http://validator.w3.org/check/referer">XHTML</a>
#}
			</p>
			
		</div>		
			
	</div></div>
{% endblock %}

